{% extends 'base.html.twig' %}

{% block title %}RO MON{% endblock %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}

{% block body %}
    <form id="horna-tab-form" data-zaznam-id="" autocomplete="off">
        <div class="row" id="navbar">
            <div class="col">
                <select id="den" name="den" title="DÁTUM" id="datum" class="selectpicker search-control">
                    {% for datum in datumy %}
                        <option value="{{ datum }}" {{ loop.first ? 'selected' : '' }}>{{ datum }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select id="linka_uep" class="selectpicker show-menu-arrow shadow-sm uep search-control"
                        title="Linka - Uep" name="uep">
                    <option selected value="-1"></option>
                    {% for data in uepSelectData %}
                        <optgroup label="{{ data[0][0] }}">
                            {% for uep in data[0][1] %}
                                <option value="{{ uep[0] }}">{{ uep[1] }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select id="zmena" class="selectpicker shadow-sm zmena search-control"
                        title="Zmena"
                        name="zmena" disabled>
                    <option selected value="-1"></option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>

            <div class="col">
                <input id="nadcas" class="form-control nadcas"  title="Nadcas" name="nadcas" placeholder="Nadčas"
                       disabled/>
                <i class="far fa-clock" style="position: absolute; top: 1.5rem; right: 5px;font-size: 0.75rem"></i>
            </div>

            <div class="col colBtn">
                <button class="btn btn-outline-primary shadow-sm myBtn" type="submit">Potvrď
                </button>
            </div>


        </div>


        <div class="row" id="telo">
            <div class="col" id="Dochadzka">
                <div class="row karta" id="kartaDochadzka">
                    <h2 class="no-selection"><i class="fas fa-user-friends"></i> Dochádzka</h2>
                </div>
                <div class="telo">
                    <div class="riadok">
                        <div class="col-7 clear"></div>
                        <div class="col">
                            <h5 class="no-selection" style="height: 2rem" >Monitor</h5>
                        </div>
                        <div class="col">
                            <h5 class="no-selection">Operátor</h5>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Celkový počet pracovníkov v GDH"></i> Suma
                                pracovnikov
                            </div>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="suma_pracovnikov_monitor" disabled/>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="suma_pracovnikov_operator" disabled/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Počet pracovníkov kvôli  práce neschopnosti  ,návšteve lekára ,preventívna prehliadka"></i>
                                PN +
                                Lekár
                            </div>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="pn_lekar_monitor" disabled/>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="pn_lekar_operator" disabled/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Počet pracovníkov ktorý čerpajú dovolenku a náhradne voľno."></i>
                                Dovolenka + NV
                            </div>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="dovolenka_nv_monitor" disabled/>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="dovolenka_nv_operator" disabled/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Počet pracovníkov  ktorý neohlásene  neprišli do práce alebo nevydokladovali neprítomnosť v práci (A05)"></i>
                                Suma Iné
                            </div>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="ine_monitor" disabled/>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="ine_operator" disabled/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Počet pracovníkov v školiacom procese+ všetky školenia aj mimo pracoviska"></i>
                                Školenie
                            </div>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="skolenie_monitor" disabled/>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="skolenie_operator" disabled/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Počet pracovníkov požičaných inému sektoru."></i>
                                Požičaný
                                (preč)
                            </div>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="pozicany_monitor" disabled/>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="pozicany_operator" disabled/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Počet vypožičaných pracovnikov s iného  sektora."></i>
                                Vypožičaný
                            </div>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="vypozicany_monitor" disabled/>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="vypozicany_operator" disabled/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Počet nadčasárov z druhých zmien + Víkendová zmena"></i>
                                Nadčas z 2 zmeny <sup>
                                    <small><i class="far fa-clock"></i></small>
                                </sup>
                            </div>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="nadcas_druha_zmena_monitor" disabled/>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="nadcas_druha_zmena_operator" disabled/>
                        </div>
                    </div>
                    <div class="riadok">
                        <div class="col-7">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom" title="Tooltip on bottom"></i> Počet
                                neobsadených modulov <sup>
                                    <small id="moduly-monitora-text"></small>
                                </sup>
                            </div>
                        </div>
                        <div class="col">
                            <input class="form-control data-in-control" name="neobsadene_moduly_monitor" disabled/>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            </div>
            <div class="col" id="ro">
                <div class="row karta" id="kartaRO">
                    <h2 class="no-selection"><i class="fas fa-tachometer-alt"></i> RO</h2>
                    <div style="display: inherit; margin-right: 1rem; text-align: center;">
                        <div class="ro-title-value-item" style="margin-right: .4rem;" data-toggle="tooltip"
                             data-placement="bottom"
                             title="Efektivita = Počet vyrobených áut / [ Teoretická výroba - Logistika - Saturácia - Nedostatok ]">
                            <h6 class="no-selection">Efektivita</h6>
                            <span id="efektivitaVal" class="ro-title-values no-selection">0 %</span>
                        </div>
                        <div class="ro-title-value-item" style="margin-right: 0.4rem;" data-toggle="tooltip"
                             data-placement="bottom"
                             title="RO = Počet vyrobených áut / Teoretická výroba">
                            <h6 class="no-selection">RO</h6>
                            <span id="roVal" class="ro-title-values no-selection">0 %</span>
                        </div>
                        <div class="ro-title-value-item" data-toggle="tooltip"
                             data-placement="bottom"
                             title="Non RO = 100% - RO[%]">
                            <h6 class="no-selection">Non RO</h6>
                            <span id="nonRoVal"  class="ro-title-values no-selection">0 %</span>
                        </div>
                    </div>
                </div>
                <div class="telo" style="justify-content: start;">
                    <div class="row">
                        <div class="col-4">
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom"
                               title="TO = Počet áut za hodinu x (7.5h + Nadčas)"></i> Teoretická výroba
                        </div>
                        <div class="col-4">
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom"
                               title="PV = TO x Ciel RO"></i> Plánovaná výroba
                        </div>
                        <div class="col-4">
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom"
                               title="Počet vyrobených áut na konci zmeny"></i> Počet vyrobených
                        </div>
                    </div>
                    <div class="row" style="margin-top: .25rem;">
                        <div class="col-4">
                            <input id="max-vyroba" class="form-control pull-right" readonly/>
                        </div>
                        <div class="col-4">
                            <input id="ciel-vyroba" class="form-control pull-right" readonly/>
                        </div>
                        <div class="col-4 text-center">
                            <input id="pocet-vyrobenych" class="form-control pull-right ro-calc-control data-in-control"
                                   name="pocet_vyrobenych" disabled/>
                            <span id="rozdiel-plan-vyroba" class="small" style="display: none;"></span>
                        </div>
                    </div>
                    <div class="riadok" style="">
                        <div class="col-12"
                             style="border-top: 1px solid #c5c5c5; margin-top: .7rem;">
                            <div class="no-selection" style="line-height: 1.4 "><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Zapísať všetky zastavenia v minútach spôsobene Andonom (operátorom) + všetky zastavenia ktoré priamo spôsobilo dane UEP napr. zastavenie linky z dôvodu nečistôt na zariadení, omylom stlačene núdzové tlačidlo na zastavenie výroby atď."></i>
                                Zastavenia FAB
                            </div>
                        </div>
                        <div class="col-2">
                            <input class="form-control ro-calc-control ro-calc-data data-in-control"
                                   name="zastavenia_fab_pocet" disabled/>
                            <i class="far fa-clock" style="position: absolute; top: 5px; right: 20px; font-size: .75rem;"></i>
                        </div>
                        <div class="col-10">
                            <textarea class="form-control data-in-control" style="font-size: 0.8rem" name="zastavenia_fab_info" rows="2"
                                      disabled></textarea>
                        </div>
                        <div class="col-12">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Zapísať všetky zastavenia v minútach spôsobene údržbou to znamená porucha na zariadení, poškodené zariadenie, nefunkčne zariadenie (manipulátor, uťahovačka, prekládka, plničky atď.)"></i>
                                Údržba
                            </div>
                        </div>
                        <div class="col-2">
                            <input class="form-control ro-calc-control ro-calc-data data-in-control"  name="udrzba_pocet"
                                   disabled/>
                            <i class="far fa-clock" style="position: absolute; top: 5px; right: 20px;font-size: 0.75rem"></i>
                        </div>
                        <div class="col-10">
                            <textarea class="form-control data-in-control" name="udrzba_info"  style="font-size: 0.8rem" rows="2"
                                      disabled></textarea>
                        </div>
                        <div class="col-12">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Zapísať počet všetkých zastavení na linke. Zdroj syntéza andon."></i>
                                Počet zastavení
                                <small>(Zastavenia * 3[s] * (Hodinový cieľ / 3600) = <span
                                            id="zastavenia-na-auta"></span> [auto])
                                </small>
                            </div>
                        </div>
                        <div class="col-2">
                            <input id="pocet-zastaveni"
                                   class="form-control ro-calc-control ro-calc-data data-in-control"
                                   name="pocet_zastaveni" disabled/>
                            <i class="fas" style="position: absolute; top: 5px; right: 20px;">#</i>
                        </div>
                        <div class="col-10">
                            <textarea class="form-control data-in-control" name="pocet_zastaveni_info"  style="font-size: 0.8rem" rows="2"
                                      disabled></textarea>
                        </div>
                        <div class="col-12"
                             style="border-top: 1px solid #c5c5c5; margin-top: .5rem;">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title=" Zapísať všetky zastavenia v minútach spôsobené logistikou napr. chýbajúci diel, zamenený diel, poškodený diel, atď."></i>
                                Logistika
                            </div>
                        </div>
                        <div class="col-2">
                            <input id="strata-logistika"
                                   class="form-control ro-calc-control ro-calc-data data-in-control"
                                   name="logistika_pocet" disabled/>
                            <i class="far fa-clock" style="position: absolute; top: 5px; right: 20px; font-size: 0.75rem"></i>
                        </div>
                        <div class="col-10">
                            <textarea class="form-control data-in-control" name="logistika_info" style="font-size: 0.8rem" rows="2"
                                      disabled></textarea>
                        </div>
                        <div class="col-12">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Zapísať všetky zastavenia v minútach spôsobené zastavenie mojej linky z dôvodu linky predo mnou (plný zásobník, Andon linky predo mnou atď.)."></i>
                                Saturácia
                            </div>
                        </div>
                        <div class="col-2">
                            <input id="strata-saturacia"
                                   class="form-control ro-calc-control ro-calc-data data-in-control"
                                   name="saturacia_pocet" disabled/>
                            <i class="far fa-clock" style="position: absolute; top: 5px; right: 20px; font-size: 0.75rem"></i>
                        </div>
                        <div class="col-10">
                            <textarea class="form-control data-in-control" name="saturacia_info" style="font-size: 0.8rem" rows="2"
                                      disabled></textarea>
                        </div>
                        <div class="col-12">
                            <div class="no-selection"><i class="fas fa-info-circle" data-toggle="tooltip"
                                                         data-placement="bottom"
                                                         title="Zapísať všetky zastavenia v autách spôsobene zastavenie mojej linky z dôvodu prázdneho zásobníka napr. chýbajúcich (karosérii. závesov , kitovacich vozíkov atď.) z predchádzajúcej linky"></i>
                                Nedostatok
                            </div>
                        </div>
                        <div class="col-2">
                            <input id="strata-nedostatok"
                                   class="form-control ro-calc-control ro-calc-data data-in-control"
                                   name="nedostatok_pocet" disabled/>
                            <i class="far fa-clock" style="position: absolute; top: 5px; right: 20px; font-size: 0.75rem"></i>
                        </div>
                        <div class="col-10">
                            <textarea class="form-control data-in-control" name="nedostatok_info" style="font-size: 0.8rem" rows="2"
                                      disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
